{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

         This is the Cart Page.Proceed to Place Your Order and Review Your items.

{% endblock %}
{% block title %}
    Cart -Zayeen Plus Company PVT LTD.
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart is Empty
        </h1>
        <br>
        <p class="text-center">
            Please Click<a href="{% url 'shopapp:allProdCart' %}">Here</a>to continue Shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div>
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart
        </h1>
        <br>
    </div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    Your Items
                </th>
            </tr>
            </thead>
            <tbody>

            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <div class="my_bottom_margin col-4 col-sm-4 col-sm-4 col-md-4">
                    <div class="card-text-center" style="min-width:18rem;">
                    <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" style="width:200px; height:200px;" alt="" class="float-left rounded custom_image"></a>
                        <div class="card-body">

                    </div>
                    </div>
                    </div>

                </td>
                <td class="text-left">
                    {{cart_item.product_name}}
                    <br>
                    SKU: {{cart_item_product.id}}
                    <br>
                    Price: $ {{cart_item.product.price }}<br>
                    <br>
                    Qty : {{cart_item.quantity}} x $ {{cart_item}}
                </td>
                <td>
                     $ {{cart_item.sub_total}}
                </td>
                {% if cart_item.quantity < cart_item.product.stock %}
                <td>
                    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"> <i class="fa-solid fa-plus"> </i></a><br>
                     <a href="{% url 'cart:cart_remove' cart_item.product_id %}" class="custom_a"><i class="fa-solid fa-minus"></i></a><br>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                </td>
                {% else %}
                  <td>

                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product_id %}" class="custom_a"><i class="fa-solid fa-minus"></i></a>
                    &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                </td>
                {% endif %}


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th>
                    Checkout
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Please Review your Shopping cart Items Proceeding with the order payment.
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Your Total is : <strong> {{ total }} </strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-auto">
            <a href="{% url 'shopapp:allProdCat' %}" class="btn btn-secondary btn-block my_cutom_button">Continue Shopping</a>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}